div{
    position:relative;
}

.rojo{
    background-color: red;
    width: 500px;
    height: 500px;
}

.morado{
    background-color: purple;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
}

.amarillo{
    background-color: yellow;
    width: 50%;
    height: 50%;
